

.character_sheet__container {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  width: 60rem;
}

.character_sheet__content {

}

.character_sheet__header {
  margin: 0 0 1rem 0;
  padding: 1rem 0 0 0;
  border-bottom: 1px solid black;
}

.character_sheet__primary_tab {
  display: flex;
}

.character_sheet__attributes {
  width: 12rem;
  min-width: 12rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 85%;
  font-weight: bold;
}

.character_sheet__attribute_group {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 10rem;
}

.character_sheet__attribute_group_header {
  text-align: center;
}

.character_sheet__attribute_box {
  border: 1px solid black;
  margin: .25rem;
  padding: .25rem;
  width: 80%;
}

.character_sheet__attribute_name {
  margin-bottom: 0rem;
  text-align: center;
  text-decoration: underline;
}

.character_sheet__attribute_value {
  margin-bottom: 0;
  text-align: center;
}

.character_sheet__attribute_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 80%;
}

.character_sheet__primary_tab__main_content {
  margin: 0 1rem 0 1rem;
}

.character_sheet__resources {
  border: 1px solid black;
  border-radius: 1rem;
  padding: .5rem;
  width: 45rem;
}

.character_sheet__resources_groups {
  display: flex;
  justify-content: space-between;
  width: 44rem;
  flex-wrap: wrap;
}

.character_sheet__resource {
  display: flex;
  justify-content: space-between;
  margin-left: .25rem;
  /* width: 16rem; */
}

.character_sheet__resource__name {
  width: 5rem;
}

.character_sheet__resource_slider_container {
  display: flex;
  justify-content: space-evenly;
  width: 16.5rem;
}

.character_sheet__resource_slider {
  border: 1px solid black;
  display: flex;
  width: 14rem;
  justify-content: space-evenly;
}

.character_sheet__resource_slider_controls {
  display: flex;
  justify-content: space-evenly;
  width: 2rem;
  font-size: 70%;
  align-items: center;
}
.character_sheet__resource_slider_controls_current {
  border: 1px black solid;
  border-radius: 5rem;
}
.character_sheet__resource_slider_controls_max {
  border: 1px black solid;
  border-radius: 5rem;
}

.character_sheet__resource_slider_value {
  background-color: grey;
  text-align: center;
  width: 100%;
}

.character_sheet__resource_slider__current_value {
  background-color: lightblue;
}

.character_sheet__resource_slider__above_max_value {
  background-color: red;
}


.character_sheet__skills {
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: .5rem;
  width: 45rem;
}

.character_sheet__skill {
  border: 1px solid black;
  width: 10rem;
  margin-top: .5rem;
  padding: .25rem;
  font-size: 85%;
}

.character_sheet__skill__proficiency {
  display: flex;
  justify-content: space-between;
}

.character_sheet__skill__check {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}